@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

img{
    border-radius: 50%;
}

.fir-body{

    background-color:#ffc244 ;
    padding: 40px;
}
.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fix-col{
    background-color: aqua;
}
button{
    color:white;
    background-color: rgba(91, 196, 91, 0.89);
    padding: 8px;
    width: 10%;
    border-radius: 15px;
    position: fixed;
    right: 0;
    margin-right: 10px;
}
ul{
    list-style: none;
}






